<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>FAKEDucation</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Roboto:400,400i,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="static/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="static/css/theme.css">

</head> 

<body>    
    <header class="header">	    
        <div class="branding">
            <div class="container-fluid position-relative py-3">
                <div class="logo-wrapper">
	                <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon mr-2" src="static/images/site-logo.svg" alt="logo" ><span class="logo-text">FAKEducation</span></a></div>    
                </div><!--//docs-logo-wrapper-->
	        
            </div><!--//container-->
        </div><!--//branding-->
    </header><!--//header-->
    
    <section class="hero-section">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
				    <div class="promo pr-md-3 pr-lg-5">
					    <h1 class="headline mb-3">
						    Free Video Content Generation from Audio &amp; Text.
					    </h1><!--//headline-->
					    <div class="subheadline mb-4">
						    With the onset of a global pandemic, studies have been affected a lot. The effect has been increased in rural areas due to lack of video conferencing technology. Also, research suggests that attention span is 60k folds giher when one learns from video rather than audio. Hence <b>FAKEducation!</b> As counter-productive as its name is, FAKEducation helps academia with the help of latest AI Technology.
						    
					    </div><!--//subheading-->
					    
					    
					    <div class="hero-quotes mt-5">
						    <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="8000">
								<ol class="carousel-indicators">
									<li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#quotes-carousel" data-slide-to="1"></li>
									<li data-target="#quotes-carousel" data-slide-to="2"></li>
								</ol>
							  
							    <div class="carousel-inner">
								    <div class="carousel-item active">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Research suggests [that] learner attention starts to wane every 10–20 minutes during lectures."     
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <!-- <img class="source-profile mr-md-3" src="static/images/profiles/profile-1.png" alt="image" > -->
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Smart Sparrow</div>
										        <div class="soure-title">2018</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "The brain is not designed to learn from text, the brain was designed to learn from human interaction and explore the natural environment."     
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <!-- <img class="source-profile mr-md-3" src="static/images/profiles/profile-2.png" alt="image" > -->
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">Dr. Alice Holland</div>
										        <div class="soure-title">Children's Health and UT Southwestern</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								    <div class="carousel-item">
								        <blockquote class="quote p-4 theme-bg-light">
									        "Videos are processed by the brain 60,000 times faster than text."     
								        </blockquote><!--//item-->
								        <div class="source media flex-column flex-md-row align-items-center">
									        <!-- <img class="source-profile mr-md-3" src="static/images/profiles/profile-3.png" alt="image" > -->
									        <div class="source-info media-body text-center text-md-left">
										        <div class="source-name">WonderMouse</div>
										        <div class="soure-title">2018</div>
										    </div>
								        </div><!--//source-->
								    </div><!--//carousel-item-->
								</div><!--//carousel-inner-->
							</div><!--//quotes-carousel-->
							
					    </div><!--//hero-quotes-->
				    </div><!--//promo-->
			    </div><!--col-->
			    <div class="col-12 col-md-5 mb-5 align-self-center">
				    <!-- <div class="book-cover-holder">
					    <img class="img-fluid book-cover" src="static/images/devbook-cover.png" alt="book cover" >
					    <div class="book-badge d-inline-block shadow">
						    New<br>Release
					    </div> -->
				    <!-- </div>//book-cover-holder -->
					<div class="book-cover-holder">
						<h1 style="text-align: center;">Give it a try</h1>
						<br>
						<form method=post enctype=multipart/form-data>
							<table style="text-align: center;" cellpadding="10px" cellspacing="5px" >
								<tr>
									<td><label> <b>Video</b> or <b>Image</b>: </label></td>
									<td><input type=file name=video_file><br></td>
								</tr>
								<tr>
									<td><label> <b>Audio</b> or <b>Text</b>: </label></td>
									<td>
										<input type=file name=audio_file><br>
									</td>
								</tr>
								<br>
								<tr>
									<td colspan="2">
										<center>
											<input type=submit value=Transform>
										</center>
									</td>
								</tr>
							</table>
						  
						  
						  
						  
						  
						</form>					
					</div>
				    <!-- <div class="text-center"><a class="theme-link scrollto" href="#reviews-section">See all book reviews</a></div> -->
			    </div><!--col-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//hero-section-->
    
    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
	    <div class="container py-5">
		    <h2 class="section-heading text-center mb-3">How can you use FAKEducation?</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">You can use FAKEducation to generate deep-fakes from a single image or a short video. The content which needs to be discussed can be provided as a text file or an audio file. It is simple to use, hence making it easier for parents to use it.</div>
		    <div class="row text-center">
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-laptop-code"></i></div>
						    <h3 class="item-heading">Easy to make animations</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Animated movies/videos of kid's favourite characters can be easily made using a single image and content.
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fas fa-bookmark"></i></div>
						    <h3 class="item-heading">Turn Podcasts into Educational Lectures!</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    With the increase in podcast culture over the past few years, it can be really helpful to convert podcasts to video lectures with a short video/image!
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-rocketchat"></i></div>
						    <h3 class="item-heading">Turn text to interactive sessions!</h3>
					    </div><!--//item-heading-->
					    <div class="item-desc">
						    Easily convert reading activities or notes to videos, helping increase the attention span!
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//benefits-section-->
    
    <section id="benefits-section" class="benefits-section theme-bg-light-gradient py-5">
	    <div class="container py-5">
		    <h2 class="section-heading text-center mb-3">Samples</h2>
		    <div class="section-intro single-col-max mx-auto text-center mb-5">You can find a few samples generated using FAKEducation.</div>
		    <div class="row text-center">
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
						    <h3 class="item-heading">From Image and Audio</h3>
							Get Educated about Earthquakes! Ft. Fortnite
					    </div><!--//item-heading-->
						<div class="item-desc">
							<img src="static/ex1.png" width="30%" height="30%">
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<audio controls><source src="static/ex1.mp3" type="audio/mpeg"></audio>
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
						    <video controls="controls" src="static/ex1.mp4" width="60%" height="60%">
								Your browser does not support the HTML5 Video element.
							</video>
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
						    <h3 class="item-heading">From Image and Text!</h3>
							Illinois <a href="https://www.webpages.uidaho.edu/psyc390/lessons/lesson05/transcript_5-3.htm">Lecture Notes</a> ft. Fortnite
					    </div><!--//item-heading-->
					    <div class="item-desc">
							<br>
							<img src="static/ex2.jpg" width="50%" height="50%">
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<img src="static/ex2.png" width="40%" height="40%">
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
						    <video controls="controls" src="static/ex2.mp4" width="70%" height="70%">
								Your browser does not support the HTML5 Video element.
							</video>
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-6 col-lg-4">
				    <div class="item-inner p-3 p-lg-4">
					    <div class="item-header mb-3">
						    <div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
						    <h3 class="item-heading">From Video and Audio!</h3>
							Since we are using a 3D model, can be easily extended to AR!
							<h6><b><i>Note the change in tempo!</i></b></h6>
					    </div><!--//item-heading-->
					    <div class="item-desc">
							<video controls="controls" src="static/ex3v.mp4" width="50%" height="50%">
								Your browser does not support the HTML5 Video element.
							</video>
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<audio controls><source src="static/ex3.mp3" type="audio/mpeg"></audio>
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
						    <video controls="controls" src="static/ex3.mp4" width="70%" height="70%">
								Your browser does not support the HTML5 Video element.
							</video>
					    </div><!--//item-desc-->
				    </div><!--//item-inner-->
			    </div><!--//item-->
		    </div><!--//row-->
			<div class="row text-center">
			    <div class="item col-12 col-md-6 col-lg-4">
					<div class="item-inner p-3 p-lg-4">
						<div class="item-header mb-3">
							<div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
							<h3 class="item-heading">Humans' Video ft Me!</h3>
							Using a Human Video
							<h6><b><i>Note the change in tempo &amp; pitch!</i></b></h6>
						</div><!--//item-heading-->
						<div class="item-desc">
							<video controls="controls" src="static/ex4v.mp4" width="50%" height="50%">
								Your browser does not support the HTML5 Video element.
							</video>
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<audio controls><source src="static/ex3.mp3" type="audio/mpeg"></audio>
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
							<video controls="controls" src="static/ex4.mp4" width="70%" height="70%">
								Your browser does not support the HTML5 Video element.
							</video>
						</div><!--//item-desc-->
					</div><!--//item-inner-->			
				</div>
			    <div class="item col-12 col-md-6 col-lg-4">
					<div class="item-inner p-3 p-lg-4">
						<div class="item-header mb-3">
							<div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
							<h3 class="item-heading">Humans' video ft. rndm pic!</h3>
							Profile pic to Video made easy!
							<h6><b><i>Note the change in tempo!</i></b></h6>
						</div><!--//item-heading-->
						<div class="item-desc">
							<img src="static/ex5.png" width="30%" height="30%">
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<audio controls><source src="static/ex3.mp3" type="audio/mpeg"></audio>
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
							<video controls="controls" src="static/ex5.mp4" width="50%" height="50%">
								Your browser does not support the HTML5 Video element.
							</video>
						</div><!--//item-desc-->
					</div><!--//item-inner-->	
				</div>		
			    <div class="item col-12 col-md-6 col-lg-4">
					<div class="item-inner p-3 p-lg-4">
						<div class="item-header mb-3">
							<div class="item-icon"><i class="fab fa-creative-commons-sampling"></i></div>
							<h3 class="item-heading">Humans' video ft. text!</h3>
							Easy even from text!
						</div><!--//item-heading-->
						<div class="item-desc">
							<br>
							<video controls="controls" src="static/ex4v.mp4" width="50%" height="50%">
								Your browser does not support the HTML5 Video element.
							</video>
							<br>
							<i class="fa fa-plus"></i>
							<br>
							<img src="static/ex6.png"  width="90%">
							<br>
							<i class="fa fa-angle-double-down" style="font-size: larger;"></i>
							<br>
							<video controls="controls" src="static/ex6.mp4" width="70%" height="70%">
								Your browser does not support the HTML5 Video element.
							</video>
						</div><!--//item-desc-->
					</div><!--//item-inner-->	
				</div>		
			</div>
	    </div><!--//container-->
    </section><!--//benefits-section-->
       
    <!-- Javascript -->          
    <script src="static/plugins/jquery-3.4.1.min.js"></script>
    <script src="static/plugins/popper.min.js"></script>
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>  
    <script src="static/plugins/jquery.scrollTo.min.js"></script>  
    <script src="static/plugins/back-to-top.js"></script>  
    
    <script src="static/js/main.js"></script>

</body>
</html> 

